@charset "UTF-8";
/*Палитра цветов*/
/* цвет шрифта логотипа - color: #000000; #2196F3; #FFFFFF;*/
/*основной цвет шрифта - color: #757575;*/
/*основной цвет заголовков(h2,h3) - color: #212121;*/
/*основной цвет заголовков(h1) - color: #FFFFFF;*/
/*основной цвет акцента- color: #2196F3;*/
/* цвет фона header - color: #FFFFFF;*/
/* цвет фона footer - color: #2F303A;*/
/* цвет фона main - color: #E5E5E5; #F5F4FA;*/
/* цвет фона hero - color: #C4C4C4;*/
/*цвет icon - color: #AFB1B8;*/
/*Шрифты*/
/*Основной шрифт - Roboto, font-weight: 400;*/
/*Шрифт для h1 - Roboto, font-weight: 900;*/
/*Шрифт для h2, button - Roboto, font-weight: 700;*/
/*Шрифт для h3 - Roboto, font-weight: 500;*/
/*Шрифт для logo - Raleway, font-weight: 700;*/
/*Шрифт для .site-nav, .contact - Roboto, font-weight: 500;*/
:root {
  --primary-text-color: #757575;
  --primary-text-title: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --hero-background-color:#C4C4C4;
  --primary-logo-color: #000000;
  --second-main-background: #F5F4FA;
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --icon-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

/*SCSS-переменные*/
/*SCSS-переменные для медиа-запросов*/
/* Основные сбросы настроек браузера*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* body */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/*Margin в списках*/
@media screen and (min-width: 1200px) {
  .item:not(:last-child) {
    margin-right: 30px;
  }
}

/*Padding для секций*/
.advantages, .our-team, .clients, .gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages, .our-team, .clients, .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*Сброс настроек для link*/
.logo, .contact__link, .social-links__link, .clients__link, .address__link, .address__mail,
.address__tel, .examples__link {
  text-decoration: none;
}

/*Сброс настроек для list*/
.contact, .advantages__list, .activities__list, .social-links, .our-team__list, .clients__list, .address__list, .filters-list, .examples {
  list-style: none;
}

/*Изменение цвета для половинок логотипа*/
/*Миксин для form__input*/
/*Миксин для текстовых свойств*/
/*Миксин для медиа-запросов*/
/*Скрытые загаловки*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*CONTAINER*/
.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*LOGO*/
.logo {
  font-weight: 700;
  font-size: 0;
  line-height: 1.192;
  display: block;
  font-family: var(--logo-font);
  -webkit-transition: cursor var(--transition-duration) var(--timing-function);
  transition: cursor var(--transition-duration) var(--timing-function);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo:hover, .logo:focus {
  cursor: pointer;
}

.logo__first-part {
  color: #2196F3;
  font-size: 26px;
}

.logo__second-part {
  color: #000000;
  font-size: 26px;
}

.logo__next-part {
  color: #FFFFFF;
  font-size: 26px;
}

/*Стили для header*/
.page-header {
  background-color: var(--primary-white-color);
}

.container__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .burger__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .burger__icon {
    width: 40px;
    height: 40px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .burger__btn:hover .burger__icon,
  .burger__btn:focus .burger__icon {
    fill: var(--accent-color);
  }
  .site-nav {
    display: none;
  }
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }
}

/*SITE-NAVIGATION*/
@media screen and (min-width: 768px) {
  .page-header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .site-nav__link {
    text-decoration: none;
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-title);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .site-nav__link:focus, .site-nav__link:hover {
    color: var(--accent-color);
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link--current {
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

/*CONTACT-HEADER*/
.contact {
  padding: 21px 0;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}

.contact__link:focus, .contact__link:hover {
  color: var(--accent-color);
}

.contact__icon-mail {
  margin-right: 8px;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link-mail:focus .contact__icon-mail {
  fill: currentColor;
}

.contact__icon-phone {
  margin-right: 8px;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link-phone:hover .contact__icon-phone,
.contact__link-phone:focus .contact__icon-phone {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 0;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact__item:not(:first-child) {
    margin-left: 30px;
  }
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.143;
  }
  .contact__icon-mail,
  .contact__icon-phone {
    margin-right: 10px;
  }
}

/*PORTFOLIO---HEADER*/
.page-header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 100;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    max-height: 796px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
    transition: -webkit-transform var(--transition-duration) var(--timing-function);
    transition: transform var(--transition-duration) var(--timing-function);
    transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu-close__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .mobile-menu-close__icon {
    width: 40px;
    height: 40px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .mobile-menu-close__btn:hover .mobile-menu-close__icon,
  .mobile-menu-close__btn:focus .mobile-menu-close__icon {
    fill: var(--accent-color);
  }
  .mobile-menu-nav {
    list-style: none;
  }
  .mobile-menu-nav__link {
    text-decoration: none;
    display: block;
    color: var(--primary-text-title);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .mobile-menu-nav__link:focus, .mobile-menu-nav__link:hover {
    color: var(--accent-color);
  }
  .mobile-menu__link--current {
    color: var(--accent-color);
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts {
    margin-top: auto;
  }
  .mobile-menu-contact {
    list-style: none;
    margin-bottom: 64px;
  }
  .mobile-menu-contact__link {
    text-decoration: none;
    display: block;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .mobile-menu-contact__link:focus, .mobile-menu-contact__link:hover {
    color: var(--accent-color);
  }
  .mobile-menu-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contact__link--current {
    color: var(--accent-color);
  }
  .mobile-menu-social-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu-social-links__item:not(:first-child) {
    margin-left: 10px;
  }
  .mobile-menu-social-links__link {
    text-decoration: none;
    display: block;
    height: 20px;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  /*.mobile-menu-social-links__link::after {
        content: "";
        width: 22px;
        height: 12px;
        display: inline-block;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(-90deg);
    }*/
  .mobile-menu-social-links__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*BUTTON*/
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}

/*HERO*/
.hero {
  min-height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    min-height: 400px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    min-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__button {
  padding: 10px 30px;
  border: 1px solid transparent;
}

.hero__button:hover, .hero__button:focus {
  cursor: pointer;
  background-color: #188CE8;
}

/* MODAL WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration) var(--timing-function), visibility var(--transition-duration) var(--timing-function);
  transition: opacity var(--transition-duration) var(--timing-function), visibility var(--transition-duration) var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 609px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.form {
  padding: 40px;
}

.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: center;
  color: var(--primary-text-title);
}

@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 1.15;
  }
}

.form__label {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__user-information {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  min-height: 40px;
  width: 100%;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

.form__input:hover {
  cursor: pointer;
}

.form__label:focus-within .form__input {
  border-color: var(--accent-color);
  outline: none;
}

.form__icon-wrap {
  position: relative;
  display: inline-block;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.form__label:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__feedback {
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

.form__feedback:hover {
  cursor: pointer;
}

.form__label:focus-within .form__feedback {
  border-color: var(--accent-color);
  outline: none;
}

.form__feedback::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__feedback:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__feedback::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__feedback::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form__feedback::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.1667;
  }
  .form__feedback:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.1667;
  }
  .form__feedback::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.1667;
  }
  .form__feedback::placeholder {
    font-size: 12px;
    line-height: 1.1667;
  }
}

.form__checkbox-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form__checkbox-wrapper {
    padding-right: 11px;
  }
}

.form__checkbox-label {
  display: block;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
}

@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    padding-left: 36px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-label::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-radius: 2px;
  border-color: var(--primary-logo-color);
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .form__checkbox-label::after {
    left: 11px;
  }
}

.form__link {
  color: var(--accent-color);
}

.form__checkbox:focus + .form__checkbox-label::after {
  border-color: var(--accent-color);
  outline: none;
}

.form__checkbox:checked + .form__checkbox-label::after {
  background-color: var(--accent-color);
  background-image: url(../images/modal/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.btn-submit {
  padding: 10px 54px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}

.btn-submit:hover, .btn-submit:focus {
  cursor: pointer;
  background-color: #188CE8;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*ADVANTAGES*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages__item {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: 354px;
  }
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .advantages__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 10px;
  color: var(--primary-text-title);
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
}

.advantages__icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

/*Стили для h2*/
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
  margin-bottom: 30px;
  color: var(--primary-text-title);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

/*ACTIVITIES*/
.activities {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item {
  position: relative;
}

.activities__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*SOCIAL-LINKS for section "OUR TEAM" and FOOTER*/
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item {
  width: 44px;
  height: 44px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__item .social-links__link:hover,
.social-links__item .social-links__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-links__item .social-links__link--rotate:hover,
.social-links__item .social-links__link--rotate:focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.social-links__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.social-links__link--rotate {
  background-color: transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.social-links__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--primary-white-color);
}

.social-links__icon--footer {
  fill: var(--primary-white-color);
}

/*OUR TEAM*/
.our-team {
  background-color: var(--second-main-background);
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.our-team-member {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team-member {
    max-width: 450px;
  }
  .our-team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-member:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .our-team-member:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-member {
    margin-bottom: 0;
  }
}

.our-team-member__information {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .our-team-member__information {
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
}

.our-team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 10px;
  color: var(--primary-text-title);
  text-align: center;
}

.our-team-member__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 16px;
  text-align: center;
}

.examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  color: var(--primary-text-title);
  letter-spacing: 0.06em;
}

.examples__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.examples__description {
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__description {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 56px;
    padding-left: 24px;
  }
}

/*CLIENTS*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  height: 90px;
}

@media screen and (max-width: 479px) {
  .clients__item {
    width: 51%;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
    height: 90px;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 90px;
    margin-bottom: 0;
  }
}

.clients__item .clients__link:hover,
.clients__item .clients__link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.clients__link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/*FOOTER*/
/*FOOTER-----CONTACT*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-right: 89px;
    padding-left: 76px;
  }
}

.footer__contact {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    margin-bottom: 60px;
  }
  .join-to-us {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address__wrap {
    margin-right: 70px;
  }
  .join-to-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.no-padding {
  padding: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .list--footer {
    margin-bottom: 60px;
  }
}

.address__link {
  color: var(--primary-white-color);
  font-weight: 400;
}

.address__mail,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

/*Margin в списке footer*/
.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/*FOOTER-----JOIN TO US*/
.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1419;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*FOOTER-----SUBSCRIBE*/
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  max-width: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: rgba(33, 150, 243, 0);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }
}

.footer-form__input:focus {
  background-color: transparent;
  color: var(--primary-white-color);
}

.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  overflow: hidden;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__btn:focus, .footer-form__btn:hover {
  cursor: pointer;
}

.footer-form__icon-send {
  margin-left: 10px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.footer-form__btn:focus .footer-form__icon-send {
  -webkit-transform: translate(80px, -40px);
          transform: translate(80px, -40px);
}

/*PORTFOLIO*/
/*FILTERS*/
.filters-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid transparent;
  background-color: #F5F4FA;
  color: var(--primary-logo-color);
  font-family: inherit;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}

.filters-list__button:focus, .filters-list__button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters-list__item:nth-child(-n+3) {
    margin-bottom: 12px;
  }
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters-list {
    margin-bottom: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*EXAMPLES OF WORKS*/
@media screen and (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.examples__item {
  outline: 1px solid #EEEEEE;
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .examples__item {
    max-width: 450px;
  }
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__item {
    max-width: 354px;
    /*flex-basis: calc((100%-30px)/2);*/
  }
  .examples__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    max-width: 370px;
    /*flex-basis: calc((100%-60px)/3);*/
  }
  .examples__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .examples__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.examples__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}

.examples__link:hover, .examples__link:focus {
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */