/*ADVANTAGES*/

.advantages {
    @extend %section-padding;
}

.advantages__list {
    @extend %list;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    & {
      display: flex;
      flex-wrap: wrap;
      }
    }

    @media screen and (min-width: $desktop) {
    & {
      display: flex;
      }
    }
}


.advantages__item {
    max-width: 450px;
    @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    & {
     width: 354px;
      }

    &:not(:nth-child(2n)) {
    margin-right: 30px;
}

    &:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
}
   }
    
    @media screen and (min-width: $desktop) {
    & {
      width: 270px;
      }
    }
}

.advantages__title {
    @include fontsProperty(700, 14px, 1.143);
    margin-bottom: 10px;
    color: var(--primary-text-title);
    text-transform: uppercase;
}

.advantages__text {
    font-weight: 400;
}

.advantages__icon {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}